// обнуление
@import "null.scss";

// переменные и переиспользование по bem
@import "vars.scss";

/*  -------- блоки на сайте --------------  */

@import "./blocks/header.scss";

@import "./blocks/intro.scss";

@import "./reusable.scss";

@import "./blocks/about-me.scss";

@import "./blocks/skills.scss";

@import "./blocks/honors.scss";

@import "./blocks/footer.scss";

/*  --------                --------------  */

html,
body {
	height: 100%;

	font-family: $font-family;
	font-size: 18px;
	font-weight: $medium-weight;
	color: $primary-f-color;

	background-color: $main-bgc-color;
}
.wrapper {
	min-height: 100vh;

	overflow: hidden;

	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1 auto;
}
